<% layout('/layouts/boilerplate') %>

<body>
  <div class="row">
    <div class="col-8 offset-3">
      <h2><%=list.title%></h2>
    </div>
    <div class="card col-6 offset-3 listing-card">
      <img
        src="<%= list.image.url %>"
        class="card-img-top show-img"
        alt="Location Image"
      />
      <div class="card-body">
        <p class="card-text">
          <i>Owned By ~<%= list.owner.username %></i>
          <br />
          <%=list.description%><br />
          &#8377;<%=list.price.toLocaleString("en-In")%>/night <br />
          <%=list.location%> <br />
          <%=list.country%>
        </p>
        <% if(CurrUser && CurrUser._id.equals(list.owner._id)){ %>
        <div class="btns">
          <a href="/listing/<%=list._id%>/edit"
            ><button class="btn btn-dark add-btn">Change Information</button></a
          >
          <form action="/listing/<%= list._id %>?_method=DELETE" method="post">
            <button class="btn btn-dark btn-red">Delete Location</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-8 offset-3">
    <% if(CurrUser){ %>
    <hr />
    <h4>Leave a Review</h4>
    <form
      action="/listing/<%=list._id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <!-- <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
          class="form-range"
        />
      </div> -->
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label"> Comment : </label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comment for review</div>
      </div>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
    <br />
    <% } %>
    <hr />
    <p><b>All Reviews :</b></p>
    <div class="row">
      <% for(rev of list.reviews) {%>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= rev.author.username %></h5>
          <p class="starability-result" data-rating="<%=rev.rating%>">
            Rated: 3 stars
          </p>
          <p class="card-text">Comment : <b><%=rev.comment%></b></p>
        </div>
        <% if(CurrUser && CurrUser._id.equals(rev.author._id)){ %>
        <form
          action="/listing/<%=list._id%>/reviews/<%=rev._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-red mb-2">Delete</button>
        </form>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</body>
