<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auralis</title>
</head>
<body>
    <h2><%=list.title%></h2>
    <ul>
        <li>Description : <%=list.description%></li>
        <li>Price : &#8377;<%=list.price.toLocaleString("en-In")%></li>
        <li>Location : <%=list.location%></li>
        <li>Country : <%=list.country%></li>
    </ul>
    <a href="/listing/<%=list._id%>/edit"><button>Change Information</button></a>
    <br><br>
    <form action="/listing/<%= list._id %>?_method=DELETE" method="post">
        <button>Delete Place</button>
    </form>
</body>
</html>